.buttons-container {
    flex-direction: row;
    flex-wrap: wrap;
}

.quicktool-button {
    width: 50px;
    height: 50px;
    align-items: flex-start;
    justify-content: center;
}

.quicktool-button-icon {
    width: 32px;
    height: 32px;
}

.quicktool-button-icon:hover {
    opacity: 1;
}

.quicktool-button:active > .quicktool-button-icon {
    opacity: 0.6;
}